<a href="https://colab.research.google.com/github/Baldorpau07/Ejercicios-PYTHON/blob/main/Act_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
entrada=float(input("Ingrese un numero:"))

while entrada < 6:
    print(entrada)
    entrada+=1
else:
    print("ya no es menor a 6")

Ingrese un numero:3
3.0
4.0
5.0
ya no es menor a 6

In [7]:
x = 0
while not x == 5:
    x = x + 1
    print("x = %d" % x)

x = 1
x = 2
x = 3
x = 4
x = 5

In [9]:
i = 3
while i < 6:
  print(i)
  i += 1 #es igual a i=1+i
else:
  print("i is no longer less than 6")

3
4
5
i is no longer less than 6

In [39]:
#Ejercicio números menores iguales que 50 (suma)
suma=0
i= 1
while i<=50:
  i+=1
  suma += i
  print(suma)

2
5
9
14
20
27
35
44
54
65
77
90
104
119
135
152
170
189
209
230
252
275
299
324
350
377
405
434
464
495
527
560
594
629
665
702
740
779
819
860
902
945
989
1034
1080
1127
1175
1224
1274
1325

In [35]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
#cuando lee bananas para el código

apple
banana

In [36]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [37]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)
#se salta banana

apple
cherry

In [38]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [41]:
x=0
while x<11:
  x+=1
  print(x)

1
2
3
4
5
6
7
8
9
10
11

In [70]:
n=1
while n<51:
  s=(n*(n+1))/2
  n+=1
print(s)

1275.0

In [71]:
n=1
for n in range(0,51):
  s=(n*(n+1))/2
  n+=1
print(s)

1275.0

In [59]:
n=0
for n in range (0,100):
  n+=1
  print(n)
  if n==100:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
for x in range(6):
  print(x)
#los índices en python empiezan siempre en 0
#range es un vector de 6 números

0
1
2
3
4
5

In [18]:
#Ejercicio números impares menores iguales que 50 (suma)
i=1
if i%2==1:
  while i<=50:
    print(i)
    i+=1
  else:
    print("i ya no es menor igual a 50")
else:
  print("i es par, vuleva a ejecutar el programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
i ya no es menor igual a 50

In [23]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

#imprime en orden los elementos de la lista

apple
banana
cherry