<a href="https://colab.research.google.com/github/Baldorpau07/Ejercicios-PYTHON/blob/main/Clase_diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)
print(type(mi_tupla))
print(mi_tupla[0])  # Imprime: 1
print(mi_tupla[3])

(1, 2, 3, 'Hola', True)
<class 'tuple'>
1
Hola

In [5]:
mi_tupla = (1, 2, 3, 4, 5)

elemento_a_borrar = 3
nueva_tupla = tuple(elemento for elemento in mi_tupla if elemento != elemento_a_borrar)

In [11]:
diccionario={}
alumnos={"Ana":9.5,"Luis":8.2}
ana= alumnos["Ana"]
alumnos["Eva"]=9
alumnos["Luis"]=8.5
luis= alumnos["Luis"]
eva= alumnos.get("Eva","np")
print(f"Ana:{ana}")
print(f"Eva:{eva}")
print(f"Luis:{luis}")

Ana:9.5
Eva:9
Luis:8.5

In [16]:
precios_ropa={"Sueter":400,"Blusa":150,"Vestido":300, "Pantalones":300, "Medias":100}
precios_ropa["Sueter"]=300
sueter=precios_ropa["Sueter"]
print(f"Sueter:{sueter}")
precios_ropa["Gorra"]=100
print(precios_ropa)
falda=precios_ropa.get("falda","Artículo no encontrado")
print(f"falda:{falda}")

Sueter:300
{'Sueter': 300, 'Blusa': 150, 'Vestido': 300, 'Pantalones': 300, 'Medias': 100, 'Gorra': 100}
falda:Artículo no encontrado

In [18]:
ropa={"pantalones":100, "tenis":900, "gorra":50}
for prenda in ropa:
  print(prenda)
for prenda, precio in ropa.items():
  print(f"{prenda}: {precio}")
#se usa items para acceder al valor, en este caso el precio
#Al imprimir el primer valor es la variable iterada y el segunda su valor, el precio

pantalones
tenis
gorra
pantalones: 100
tenis: 900
gorra: 50

In [21]:
ventas={"lun":10, "mar":12, "mie":5, "jue":8}
#Imprimir "Dia: X, unidades: Y"
"""for dia in ventas:
  print(dia)"""
for dia, precio in ventas.items():
  print(f"{dia}:{precio}")
#sum, .values para acceder

lun:10
mar:12
mie:5
jue:8

In [23]:
texto="JAAJGAJAGJAJA que lokoooç"
cont={}
for palabra in texto.split():
  #se usa split para separar por palabras, de otra manera se separa por letras
  if palabra in cont:
    cont[palabra]+=1
  else:
    cont[palabra]=1
print(cont)

{'JAAJGAJAGJAJA': 1, 'que': 1, 'lokooo': 1}

In [27]:
#diccionario anidado
alumnos={
    "Ana":{"mat":9.5, "fis":8.7},
    "Luis":{"mat":8.3, "fis":7.9}
}
prom_ana= sum(alumnos["Ana"].values())/len(alumnos["Ana"])
#accede a Ana en el diccionario, suma los valores y los divide entre 2 porque es la cantidad de valores (promedio)
print(prom_ana)

9.1

In [31]:
progra={"Ana":9,"Luis":6,"Maria":8,"Carlos":10,"Eva":9.5}
mate={"Luis":7.7,"Carlos":8.5,"Sofía":6.7,"María":10}
fisica={"Ana":9.1,"Cralos":8.3, "Maria":8.8}
#Buscar la calificación promediada en cada claase
prom_ana= (progra["Ana"] + mate.get("Ana", 0) + fisica["Ana"])/3
print(prom_ana)
prom_progra= sum(progra.values())/len(progra)
print(prom_progra)
prom_mate= sum(mate.values())/len(mate)
print(prom_mate)
prom_fisica= sum(fisica.values())/len(fisica)
print(prom_fisica)

6.033333333333334
8.5
8.225
8.733333333333334

In [40]:
#Conjuntos
set= {1,2,3,4,5}
print(set)
#usar set
baldor={3,42,1}
print(baldor)
print(len(set))
print(len(baldor))
set.add(67)
#agrega un vuelo valor
print(set)
set.discard(4)
print(set)
set.remove(5)
print(set)
set.pop()
print(set)
#pop elimina un elemento aleatoria
#discard es para eliminar al igual que remove, la diferencia es que si lo que estoy quitando con remove y no está marca error, con discard no marca error.
#no usar conjuntos si nos importa el orden o las repes

"""
Recordatorio:
Lista [], permite duplicados, es mutable, se accese por el índice, importa el orden
Tupla (), permite duplicados, no es mutable, se accede por el índice
Diccionario {}, no permite duplicados, quiero acceder por clase
Conjunto {valor}, los duplicados se eliminan y queda uno solo, solo importa la pertenencia.
"""

{1, 2, 3, 4, 5}
{1, 42, 3}
5
3
{1, 2, 3, 4, 5, 67}
{1, 2, 3, 5, 67}
{1, 2, 3, 67}
{2, 3, 67}

'\nRecordatorio:\nLista [], permite duplicados, es mutable, se accese por el índice, importa el orden\nTupla (), permite duplicados, no es mutable, se accede por el índice\nDiccionario {}, no permite duplicados, quiero acceder por clase\nConjunto {valor}, los duplicados se eliminan y queda uno solo, solo importa la pertenencia.\n'

In [44]:
#hacer un conjunto, agregar elemento, eliminar otro e imprimir
set={"Mates discretas","Álgebra superior 2", "Cálculo I", "THC"}
set.discard("THC")
print(set)
set.add("Geo")
print(set)

{'Cálculo I', 'Álgebra superior 2', 'Mates discretas'}
{'Geo', 'Álgebra superior 2', 'Cálculo I', 'Mates discretas'}

In [49]:
A={1,2,3,4,5}
B={3,4,5,7}
print(A|B) #unión "o"
print(A&B) #intersección
print(A-B) #diferencia
print(B-A) #diferencia al revés
print(A^B) #diferenvia simétrica (triangulito)

{1, 2, 3, 4, 5, 7}
{3, 4, 5}
{1, 2}
{7}
{1, 2, 7}

In [52]:
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
#es lo mismo que lo de arriba

{1, 2, 3, 4, 5, 7}
{3, 4, 5}
{1, 2}
{7}
{1, 2, 7}

In [56]:
arte={"Carlos", "Miguel", "Toñio"}
fut={"Carlos", "Miguel", "Toñio", "Ana"}
print(arte&fut)
print(arte-fut)
print(arte|fut)
if len(arte-fut) == 0: print("No hay ninguno")

{'Toñio', 'Miguel', 'Carlos'}
set()
{'Toñio', 'Miguel', 'Carlos', 'Ana'}
No hay ninguno

In [63]:
A={1,2,3,4,5}
B={3,4,1,2,5,7}
print(A.issubset(B))
#buleano
print(A.isdisjoint(B))
#conjuntos ajenos
print(A.issuperset(B))
#si todos los elementos de B están en A (contención)

True
False
False

In [78]:
lista =[1,1,2,2,3,4,3,4,5]
print(lista)
my_set=list(set(lista))
print(my_set)
#Error de clase

[1, 1, 2, 2, 3, 4, 3, 4, 5]

TypeError: 'list' object is not callable

In [86]:
#Verifiquen si {2,3} es subconjunto de {1,2,3,4} y si son disjuntos con {5,6}
A={2,3}
B={1,2,3,4}
C={5,6}
print(A.issubset(B))
print(A.isdisjoint(C))
print(B.isdisjoint(C))
if A.isdisjoint(C) and B.isdisjoint(C):
  print("A y B son ajenos a C")
else:
  print("A y B no son ajenos a C")

True
True
True
A y B son ajenos a C