<a href="https://colab.research.google.com/github/Baldorpau07/Ejercicios-PYTHON/blob/main/Primera_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Ecuacion de la recta

> Agregar bloque entrecomillado
**hola buenas**

\begin{equation}
y=mb+b
\end{equation}

In [5]:
a=1 #a es una variable tipo entera
z=3.14#variable de tipo flotante
x="hola mundo" #variable de tipo cadena
print(a,x) #imprime varibles y texto}

x=str(3)
y=int(3)
z=float(3)

print(x,y,x)

1 hola mundo
3 3 3

In [8]:
#cadenas
p="PAULA"
U="paula"
print(p,U)

PAULA paula

In [12]:
m=7
M="buenas"
print(m,M)

7 buenas

In [15]:
m,n,b="xd","lol","hi"
print(m)
print(n)
# print(b)
print(m,n,b)

xd
lol
xd lol hi

In [18]:
x=y=x="hello"
print(x)
print(y)
print(x)

hello
hello
hello

In [23]:
#area de un triangulo
#area=base por altura entre dos
b=15 #base
h=2 #altura
a=b*h/2 #area
print("el area del triangulo es",a, "unidades cuadradas")

el area del triangulo es 15.0 unidades cuadradas

In [6]:
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>