<a href="https://colab.research.google.com/github/Baldorpau07/Ejercicios-PYTHON/blob/main/Tareita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x="Python"
print(x)

Python

In [13]:
print(" de flotante %f a entero %d \n"%(2.579,int(2.579)))
print(" de cadena %s a flotante %f  \n"%("5",float("5")))
print(" de cadena %s a flotante %f  \n"%("6",float("6.666")))
print("%.10f" % 2.0**10)
print("%.5e" %0.0000006456)
print("{:+.2f}".format(+3.657578))
nombre="Paula"
edad=18
print(f"Hola, me llamo {nombre} y tengo {edad} años")

 de flotante 2.579000 a entero 2

 de cadena 5 a flotante 5.000000

 de cadena 6 a flotante 6.666000

1024.0000000000
6.45600e-07
+3.66
Hola, me llamo Paula y tengo 18 años

In [17]:
edad=float(input("¿cuántos años tienes"))
años_te_faltan=100-edad
print(f"Te faltan {años_te_faltan} para cumplir 100 años")

¿cuántos años tienes18
Te faltan 82.0 para cumplir 100 años

In [18]:
print("Hola mundo jijiji")

Hola mundo jijiji

In [32]:
if 5>2:
    print("5 es mayor que 2")
else:
  print("5 es menor que 2")
#holaaaa
"""hjjbhbhqsbahvhasjhsaabmahaa
"""
15//5
26%5
3**5

5 es mayor que 2

243

In [37]:
x=50
y=6
print("Tengo x manzanas y quiero repartirlas en partes iguales entre y estudiantes, ¿cuántas recibe cada una?")
repartir= 50//6
print(repartir)

Tengo x manzanas y quiero repartirlas en partes iguales entre y estudiantes, ¿cuántas recibe cada una?
8

In [49]:
print("Ejemplo con división entera")
curso=100
dia_semanas=7
print("sobran")
curso%dia_semanas
print("hay")
curso//dia_semanas

Ejemplo con división entera
sobran
hay

14

In [46]:
r=15
s=5
modulo= r%s
print("sobran")
print(modulo)

sobran
0

In [50]:
entero=5
print('el tipo de dato de %d es %s'%(entero,type(5)))
flotante=5.0
print('el tipo de dato de %f es  %s'%(flotante,type(5.0)))
cadena="5"
print('el tipo de dato de %s es %s'%(cadena,type("5")))
boleano=True
print("el tipo de dato de %r es %s"%(boleano,type(True)))

el tipo de dato de 5 es <class 'int'>
el tipo de dato de 5.000000 es  <class 'float'>
el tipo de dato de 5 es <class 'str'>
el tipo de dato de True es <class 'bool'>

In [57]:
complejo=1.2 +5j
type(complejo)

complex

In [66]:
resultado=(8>5) or (3<2)
print(resultado)
r= (4>=0) or(5<2)
print(r)
s=(5==round(5.2))
print(s)

True
True
True

In [99]:
print("Dado un triángulo con lados")
a=7
b=8
c=9
x="unidades cuadradas"
print(a,b,c)
s=(a+b+c)/2
A=(s*(s-a)*(s-b)*(s-c))**(0.5)
print("Sea el semiperimetro:")
print(s)
print("Área:")
print(A,x)

Dado un triángulo con lados
7 8 9
Sea el semiperimetro:
12.0
Área:
26.832815729997478 unidades cuadradas
Cálculo de raíces
x^2 - 5x + 6 =  0
x^2 + 4x + 13 =0

In [142]:
print("Cálculo de raíces")
print("x^2 - 5x + 6 =  0")
print("x^2 + 4x + 13 =0")
a=1
b=-5
c=6
d=4
e=13
x1=(-b +(b**2-4*a*c)**0.5)/(2*a)
x2=(-b -(b**2-4*a*c)**0.5)/(2*a)
x3=(-d +(d**2-4*a*e)**0.5)/(2*a)
x4=(-d -(b**2-4*a*e)**0.5)/(2*a)
print("Primera ecuación")
print(x1)
print(x2)
print("Segunda ecuación")
print(x3)
print(x4)

Cálculo de raíces
x^2 - 5x + 6 =  0
x^2 + 4x + 13 =0
Primera ecuación
3.0
2.0
Segunda ecuación
(-1.9999999999999998+3j)
(-2-2.598076211353316j)